.sliderwrapper{
position: relative; /*leave as is*/
overflow: hidden; /*leave as is*/
border: 5px solid red;
border-bottom-width: 5px;
width: 325px; /*width of featured content slider*/
height: 300px;
padding:0px;
text-align:center;
left: 200px;
}



.sliderwrapper .contentdiv{
visibility: hidden; /*leave as is*/
position: absolute; /*leave as is*/
left: 0px;  /*leave as is*/
top: 0px;  /*leave as is*/
padding: 0px;
background: #FF0000;
width: 325px; /*width of content DIVs within slider. Total width should equal slider's inner width (390+5+5=400) */
height: 300px;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
}

.pagination{
width: 400px; /*Width of pagination DIV. Total width should equal slider's outer width (400+10+10=420)*/
height: 0px;
text-align: right;
background-color: navy;
padding: 0px 0px;
}

.pagination a{
padding: 0 5px;
text-decoration: none; 
color: #00007D;
background: white;
}

.pagination a:hover, .pagination a.selected{
color: #000;
background-color: #FEE496;
}